@font-face {
  font-family: 'jessicasfontmedium';
  src: url('../fonts/JessicasFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {}
a {
  color: #00B7FF;
}

.boxShadow {
  -webkit-box-shadow: 1px 4px 5px 1px rgba(88,74,94,1);
  -moz-box-shadow: 1px 4px 5px 1px rgba(88,74,94,1);
  box-shadow: 1px 4px 5px 1px rgba(88,74,94,1);
}

.boxFormat {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
}

.click {
  cursor: pointer;
}

/* Home */

.home {
  background: rgba(255, 255, 255, 1);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 69%, rgba(235, 202, 235, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(69%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(235, 202, 235, 1)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 69%, rgba(235, 202, 235, 1) 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 69%, rgba(235, 202, 235, 1) 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 69%, rgba(235, 202, 235, 1) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 69%, rgba(235, 202, 235, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebcaeb', GradientType=0);
}

.Logo {
  width: 420px;
  height: 324px;
  background: url('../images/LogoAnimation_Spritesheet12x12.png');
  margin-top: -80px;
}
.header {
  font-size: 7em;
}
.information {
  font-size: 2em;
  font-family: 'jessicasfontmedium', Fallback, sans-serif;
  line-height: .8;
}
.twitterIcon{
  width: 3%;
}
.linkedinIcon{
  width: 2.8%;
}
.about {
  display: inline-block;
  max-width: 90%;
  margin-left: 80px;
  margin-top: 100px;
}
.portrait{
  border-radius: 40%;
}
.aboutText {
  margin-top: 50px;
}
.resume {
  max-width: 50%;
  margin-top: 20px;
}
.resumeButton {
  margin-left: 80px;
}
.btn-default {
  border-color: none;
  background-color: thistle;
  box-shadow: 0 3px 0 0 #bb90bb;
  font-family: 'jessicasfontmedium', Fallback, sans-serif;
  font-size: 1.5em;
  width: 100px;
}
.animation {
  margin-left: -100px;
  font-size: 2em;
}

/* UX Gallery */

.ux {
  background: rgba(235, 202, 235, 1);
  background: -moz-linear-gradient(top, rgba(235, 202, 235, 1) 0%, rgba(235, 202, 235, 1) 49%, rgba(207, 139, 207, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(235, 202, 235, 1)), color-stop(49%, rgba(235, 202, 235, 1)), color-stop(100%, rgba(207, 139, 207, 1)));
  background: -webkit-linear-gradient(top, rgba(235, 202, 235, 1) 0%, rgba(235, 202, 235, 1) 49%, rgba(207, 139, 207, 1) 100%);
  background: -o-linear-gradient(top, rgba(235, 202, 235, 1) 0%, rgba(235, 202, 235, 1) 49%, rgba(207, 139, 207, 1) 100%);
  background: -ms-linear-gradient(top, rgba(235, 202, 235, 1) 0%, rgba(235, 202, 235, 1) 49%, rgba(207, 139, 207, 1) 100%);
  background: linear-gradient(to bottom, rgba(235, 202, 235, 1) 0%, rgba(235, 202, 235, 1) 49%, rgba(207, 139, 207, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ebcaeb', endColorstr='#cf8bcf', GradientType=0);
}

.uxHeader {
  margin-top: -50px;
  margin-left: -90px;
  color: white;
  text-shadow: 2px 2px 0px #d9b3ff;
  font-family: 'jessicasfontmedium', Fallback, sans-serif;
  font-size: 1.5em;
}
.galleryInfo {
  max-width: 80%;
  margin-left: -100px;
}
.galleryImage{
  width: 100%;
}
.gitHub {
  width: 50%;
  margin-left: -7px;
}
.one {
  margin-left: -10px
}

/* Animation Gallery */

.animationGallery {
  background: rgba(208, 139, 207, 1);
  background: -moz-linear-gradient(top, rgba(208, 139, 207, 1) 0%, rgba(208, 139, 207, 1) 42%, rgba(163, 77, 163, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(208, 139, 207, 1)), color-stop(42%, rgba(208, 139, 207, 1)), color-stop(100%, rgba(163, 77, 163, 1)));
  background: -webkit-linear-gradient(top, rgba(208, 139, 207, 1) 0%, rgba(208, 139, 207, 1) 42%, rgba(163, 77, 163, 1) 100%);
  background: -o-linear-gradient(top, rgba(208, 139, 207, 1) 0%, rgba(208, 139, 207, 1) 42%, rgba(163, 77, 163, 1) 100%);
  background: -ms-linear-gradient(top, rgba(208, 139, 207, 1) 0%, rgba(208, 139, 207, 1) 42%, rgba(163, 77, 163, 1) 100%);
  background: linear-gradient(to bottom, rgba(208, 139, 207, 1) 0%, rgba(208, 139, 207, 1) 42%, rgba(163, 77, 163, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#d08bcf', endColorstr='#a34da3', GradientType=0);
}
.animHeader {
  margin-top: -50px;
  margin-left: -90px;
  color: white;
  text-shadow: 2px 2px 0px #bf80ff;
  font-family: 'jessicasfontmedium', Fallback, sans-serif;
  font-size: 1.5em;
}
.aniText {
  margin-top: 10px;
}

/* Footer */

.footer {
  border-top: solid 1px black;
  margin-top: 50px;
  margin-left: 158px;
  padding-top: 10px;
  width: 78%;
  color: white;
  text-shadow: 1px 1px 0px #bf80ff;
  font-family: 'jessicasfontmedium', Fallback, sans-serif;
  font-size: 2em;
}

a:link , a:visited, a:active, a:hover {
  color: white;
  text-decoration: none;
}

/* Modals */

.modal-header {
  border-bottom: none;
}

.modal-title{
  font-family: 'jessicasfontmedium', Fallback, sans-serif;
  font-size: 3em;
  text-shadow: 1px 1px 0px darkgrey;
}

.slick-prev:before, .slick-next:before {
  color: #a34da3;
}

.projectDescrip {
  margin-left: 293px;
  position: absolute;
}
