@font-face {
    font-family: 'jessicasfontmedium';
    src: url('../fonts/JessicasFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body {

}

a {
  color: #00B7FF;
}
/* Home */

.home {
  background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 69%, rgba(235,202,235,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(69%, rgba(255,255,255,1)), color-stop(100%, rgba(235,202,235,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 69%, rgba(235,202,235,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 69%, rgba(235,202,235,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 69%, rgba(235,202,235,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 69%, rgba(235,202,235,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebcaeb', GradientType=0 );
}

.Logo {
  width: 420px;
  height: 324px;
  background: url('../images/LogoAnimation_Spritesheet12x12.png');
  margin-top: -65px;

}

.animateLogo {
  font-size: 7em;
}

.information {
  font-size: 2em;
  font-family: 'jessicasfontmedium', Fallback, sans-serif;
  line-height: .8;
}

.about {
  display: inline-block;
  max-width: 80%;
  margin-left: 100px;
  margin-top: 150px;
}

.aboutText {
  margin-top: 50px;
}

.resume {
  max-width: 50%;
}

.resumeButton {
  margin-left: 80px;
  margin-right: -50px;
}

.animation {
  margin-left: -100px;
  font-size: 2em;
}

/* UX Gallery */

.ux {
  background: rgba(235,202,235,1);
background: -moz-linear-gradient(top, rgba(235,202,235,1) 0%, rgba(235,202,235,1) 49%, rgba(207,139,207,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(235,202,235,1)), color-stop(49%, rgba(235,202,235,1)), color-stop(100%, rgba(207,139,207,1)));
background: -webkit-linear-gradient(top, rgba(235,202,235,1) 0%, rgba(235,202,235,1) 49%, rgba(207,139,207,1) 100%);
background: -o-linear-gradient(top, rgba(235,202,235,1) 0%, rgba(235,202,235,1) 49%, rgba(207,139,207,1) 100%);
background: -ms-linear-gradient(top, rgba(235,202,235,1) 0%, rgba(235,202,235,1) 49%, rgba(207,139,207,1) 100%);
background: linear-gradient(to bottom, rgba(235,202,235,1) 0%, rgba(235,202,235,1) 49%, rgba(207,139,207,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebcaeb', endColorstr='#cf8bcf', GradientType=0 );
}

.galleryInfo {
  max-width: 80%;
  margin-left: -200px;
  margin-top: 20px;
}

.gitHub {
  width: 50%;
  margin-left: 80px;
}

.galleryText {
  margin-left: 5px;
  margin-top: -10px;
}

.one {
  margin-left: -10px
}

/* Animation Gallery */

.animationGallery {
  background: rgba(208,139,207,1);
background: -moz-linear-gradient(top, rgba(208,139,207,1) 0%, rgba(208,139,207,1) 42%, rgba(163,77,163,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(208,139,207,1)), color-stop(42%, rgba(208,139,207,1)), color-stop(100%, rgba(163,77,163,1)));
background: -webkit-linear-gradient(top, rgba(208,139,207,1) 0%, rgba(208,139,207,1) 42%, rgba(163,77,163,1) 100%);
background: -o-linear-gradient(top, rgba(208,139,207,1) 0%, rgba(208,139,207,1) 42%, rgba(163,77,163,1) 100%);
background: -ms-linear-gradient(top, rgba(208,139,207,1) 0%, rgba(208,139,207,1) 42%, rgba(163,77,163,1) 100%);
background: linear-gradient(to bottom, rgba(208,139,207,1) 0%, rgba(208,139,207,1) 42%, rgba(163,77,163,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d08bcf', endColorstr='#a34da3', GradientType=0 );
}

.animationText {
  margin-top: 10px;
}

/* Footer */

.footer {
  padding: 30px;
  background-color: black;
  color: white;
}
